---
http_interactions:
- request:
    method: post
    uri: https://homologacao.clearsale.com.br/integracaov2/Service.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://www.clearsale.com.br/integration"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:int="http://www.clearsale.com.br/integration"><env:Body><wsdl:GetOrderStatus><int:orderID>123456</int:orderID><int:entityCode>6F261319-4E36-45E7-9652-4B08F21ABB25</int:entityCode></wsdl:GetOrderStatus></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.clearsale.com.br/integration/GetOrderStatus"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><GetOrderStatusResponse
        xmlns=\"http://www.clearsale.com.br/integration\"><GetOrderStatusResult>&lt;?xml
        version=\"1.0\" encoding=\"utf-16\"?&gt;\r\n&lt;ClearSale&gt;\r\n  &lt;Orders&gt;\r\n
        \   &lt;Order d3p1:nil=\"true\" xmlns:d3p1=\"http://www.w3.org/2001/XMLSchema-instance\"
        /&gt;\r\n  &lt;/Orders&gt;\r\n&lt;/ClearSale&gt;</GetOrderStatusResult></GetOrderStatusResponse></soap:Body></soap:Envelope>"
  recorded_at: Wed, 29 Jul 2020 17:14:06 GMT
[...]
