---
http_interactions:
- request:
    method: post
    uri: https://homologacao.clearsale.com.br/integracaov2/Service.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://www.clearsale.com.br/integration"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:int="http://www.clearsale.com.br/integration"><env:Body><wsdl:SendOrders><int:xml>#[Double
        "xml"]</int:xml><int:entityCode>6F261319-4E36-45E7-9652-4B08F21ABB25</int:entityCode></wsdl:SendOrders></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://www.clearsale.com.br/integration/SendOrders"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><SendOrdersResponse
        xmlns=\"http://www.clearsale.com.br/integration\"><SendOrdersResult>&lt;?xml
        version=\"1.0\" encoding=\"utf-16\"?&gt;\r\n&lt;PackageStatus&gt;\r\n  &lt;TransactionID
        /&gt;\r\n  &lt;StatusCode&gt;02&lt;/StatusCode&gt;\r\n  &lt;Message&gt;Data
        at the root level is invalid. Line 1, position 1.&lt;/Message&gt;\r\n&lt;/PackageStatus&gt;</SendOrdersResult></SendOrdersResponse></soap:Body></soap:Envelope>"
  recorded_at: Wed, 29 Jul 2020 16:47:58 GMT
[...]
